.contact {
  margin-bottom: 1rem;
  font-family: cursive;
  font-size: xx-large;
  font-family: cursive;
}
p {
  margin-top: 50px;
  margin-bottom: 1rem;
  font-size: 21px;
  font-family: cursive;
}

#contact {
  display: flex;
  justify-content: center;
}
